<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>SimpleMark</title>
  <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body class="index">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand">SimpleMark</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="{% url 'question' %}">答题</a></li>
        <li><a href="{% url 'index' %}">登录</a></li>
        <li><a href="{% url 'register' %}">注册</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid user-container login-container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-1 intro">
        <div>
          <h1>这里是网站标语</h1>
          <br>
          <p>
            这里是网站介绍
          </p>
        </div>
      </div>
      <div class="panel panel-default col-xs-12 col-md-3 col-md-offset-3 text-center user-panel">
        <h2>登录</h2>
        <form method="post" action="{% url 'index' %}" class="login-form text-left">
          <label>用户名:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="username">
          </div>
          <label>密码:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password">
          </div>

          {% if msg == '用户名或密码错误' %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul><li>用户名或密码错误</li></ul>
              </div>
          {% endif %}
          {% if msg == '用户名或密码不可为空' %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul><li>用户名或密码不可为空</li></ul>
              </div>
          {% endif %}

          <input type="submit" class="btn btn-primary btn-lg" value="登录">
          {% csrf_token %}
        </form>
        <a href="{% url 'register' %}">注册新用户</a>
      </div>
    </div>
  </div>
  <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
