<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="U-XA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=divice-width, initial-scale=1, user-scalable=0">
  <title>网站名称</title>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="question">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand">Title</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a>试题完成数: 12</a></li>
        <li><a><span class="glyphicon glyphicon-user"></span> username</a></li>
        <li><a href="#">注销</a></li>
      </ul>
    </div>
  </nav>

  <div class="intro-win">
    <div class="win-bg"></div>
    <div class="panel panel-default content-win">
      <div class="intro-content">
        <div class="article">
          <h2>答题说明</h2>
          <hr>
          <div class="intro-p">
            <p class="pre-line">这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明
              这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明
              这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明
              这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明 这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明这里是答题说明
            </p>
          </div>
        </div>
        <button class="btn btn-primary close-win">返回答题</button>
      </div>
    </div>
  </div>

  <div class="container question-container">
    <div class="panel panel-default">
      <div class="content">
        <button class="btn btn-primary btn-lg show-win">答题说明</button>
        <button class="btn btn-primary btn-lg">获取段落</button>

        <h2>答题段落</h1>
        <hr>
        <p class="pre-line">这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落

          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落

          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
          这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落这里是答题的段落
        </p>
        <h2>用户填写</h2>
        <hr>
        <form method="post" action="#">
          <label>问题:</label>
          <input class="form-control input-lg" type="text" name="question" placeholder="根据段落提问题">
          <label>答案:</label>
          <input class="form-control input-lg" type="text" name="answer" placeholder="根据问题回答">
          <input class="btn btn-primary btn-lg" type="submit">
        </form>
      </div>
    </div>
  </div>
  <script src="jQuery/jquery-3.2.1.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script>
    var win = document.getElementsByClassName("intro-win")[0];
    var backButton = document.getElementsByClassName("close-win")[0];
    var showButton = document.getElementsByClassName("show-win")[0];

    backButton.onclick = function () {
      win.style.display = "none";
    }

    showButton.onclick = function () {
      win.style.display = "block";
    }
  </script>
</body>

</html>
