<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=divice-width, initial-scale=1, user-scalable=0">
  <title>网站名称</title>
  <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body class="question">
  {% if request.user.is_authenticated %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand">SimpleMark</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a>试题完成数: {{ request.user.count }}</a></li>
        <li><a><span class="glyphicon glyphicon-user"></span> {{ request.user.username }}</a></li>
        <li><a href="{% url 'logout' %}">注销</a></li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
          <span class="sr-only">SimpleMark</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand">Title</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="{% url 'question' %}">答题</a></li>
        <li><a href="{% url 'index' %}">登录</a></li>
        <li><a href="{% url 'register' %}">注册</a></li>
      </ul>
    </div>
  </nav>
  {% endif %}
  <div class="intro-win">
    <div class="win-bg"></div>
    <div class="panel panel-default content-win">
      <div class="intro-content">
        <div class="article">
          <h2>答题说明</h2>
          <hr>
          <div class="intro-p">
            <p class="pre-line">这里是答题说明</p>
          </div>
        </div>
        <button class="btn btn-primary close-win">返回答题</button>
      </div>
    </div>
  </div>

  <div class="container question-container">
    <div class="panel panel-default">
      <div class="content">
        <button class="btn btn-primary show-win">答题说明</button>
        <button class="btn btn-primary get-para">获取段落</button>

        <h2>答题段落</h2>
        <hr>
        <p class="pre-line">{{ paragraph.paragraph }}</p>
        <h2>用户填写</h2>
        <hr>
        <form method="post" action="{% url 'question' %}">
          <input type="hidden" value="{{ paragraph.id }}" name="paragraph_id">
          <label>问题:</label>
          <input class="form-control input-lg" type="text" name="question" placeholder="根据段落提问题">
          <label>答案:</label>
          <input class="form-control input-lg" type="text" name="answer" placeholder="根据问题回答">


        {% if msg == '问题或答案不可为空' %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul><li>问题或答案不可为空</li></ul>
        </div>
        <br>
        {% endif %}
        {% if msg == '答案必须在文段中出现' %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul><li>答案必须在文段中出现</li></ul>
        </div>
        <br>
        {% endif %}
          <input class="btn btn-primary" type="submit">

        {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
  <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script>
    var win = document.getElementsByClassName("intro-win")[0];
    var backButton = document.getElementsByClassName("close-win")[0];
    var showButton = document.getElementsByClassName("show-win")[0];

    backButton.onclick = function () {
      win.style.display = "none";
    }

    showButton.onclick = function () {
      win.style.display = "block";
    }

    var getPara = document.getElementsByClassName("get-para")[0];

    getPara.onclick = function () {
        window.location.reload();
    }
  </script>
</body>

</html>
