<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>网站名称</title>
  <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body class="register">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand">SimpleMark</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="{% url 'index' %}">答题</a></li>
        <li><a href="{% url 'login' %}">登录</a></li>
        <li><a href="{% url 'register' %}">注册</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid user-container register-container">
    <div class="row">
      <div class="panel panel-default col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 text-center user-panel">
        <h2>注册</h2>
        <form method="post" action="{% url 'register' %}" class="register-form text-left">
          <label>用户名:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="username">
          </div>
        {% if register_form.username.errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ register_form.username.errors }}
        </div>
        {% endif %}
          <label>手机:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
            <input type="text" class="form-control" name="mobile">
          </div>
        {% if register_form.mobile.errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ register_form.mobile.errors }}
        </div>
        {% endif %}
          <label>邮箱:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" class="form-control" name="email">
          </div>
        {% if register_form.email.errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ register_form.email.errors }}
        </div>
        {% endif %}
          <label>密码:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password_1">
          </div>
        {% if register_form.password_1.errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ register_form.password_1.errors }}
        </div>
        {% endif %}
          <label>确认密码:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password_2">
          </div>

          {% if msg == '用户名/邮箱/手机已被注册' %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul><li>用户名/邮箱/手机已被注册</li></ul>
              </div>
          {% endif %}
          {% if msg == '两次输入密码不相同' %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul><li>两次输入密码不相同</li></ul>
              </div>
          {% endif %}

          <input type="submit" class="btn btn-primary btn-lg" value="注册">
          {% csrf_token %}
        </form>
        <a href="index.html">已有账号</a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 intro">
        <div>
          <h1>这里是网站标语</h1>
          <br>
          <p>
            这是注册说明及责任声明
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/jQuery/jquery-3.2.1.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
