<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="U-XA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>网站名称</title>
  <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="register">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand">Title</a>
    </div>
    <div class="collapse navbar-collapse menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="question.html">答题</a></li>
        <li><a href="index.html">登录</a></li>
        <li><a href="#">注册</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid user-container register-container">
    <div class="row">
      <div class="panel panel-default col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 text-center user-panel">
        <h2>注册</h2>
        <form method="post" action="#" class="register-form text-left">
          <label>用户名:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="username">
          </div>
          <label>手机:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
            <input type="text" class="form-control" name="phone">
          </div>
          <label>邮箱:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" class="form-control" name="mail">
          </div>
          <label>密码:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password1">
          </div>
          <label>确认密码:</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password2">
          </div>
          <input type="submit" class="btn btn-primary btn-lg" value="注册">
        </form>
        <a href="index.html">已有账号</a>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 intro">
        <div>
          <h1>这里是网站标语</h1>
          <br>
          <p>
            这是注册说明及责任声明这是注册说明及责任声明这是注册说明及责任声明这是注册说明及责任声明这是注册说明及责任声明这是注册说明及责任声明
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="jQuery/jquery-3.2.1.min.js"></script>
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>
